h3 {
    font-size: 1.2em;
    margin-bottom: 20;
    color: black;
    text-align: center;
  }
  .tbl1
  {
    position: relative;
    left:350px;
    top:120px;
    text-align: center;
  }
table {
  position: relative;
  top: -100px;
  left: 900px;
  width: 40%;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
td.mat-cell {
  text-align: left;

}
button.button1{
  position: relative;
  top : 120px;
  left: 370px;
}
mat-paginator{
  position: relative;
  top:-100px;
  left: 1000px;
  max-width: 600px;
}

  