
<div class="container"> 
        <h3>Linhas de Produção</h3>
            <br><br> 
              <mat-card-content> 
                <form [formGroup]="alunoForm"(ngSubmit)="onFormSubmit(alunoForm.value)"> 
                       
                          <tr> 
                            <td class="tbl1"> 
                              <mat-form-field class="demo-full-width"> 
                                <input formControlName="linhaProducaoNome" matTooltip="Insira o nome da LinhaProducao" matInput placeholder="Nome da Linha de Produção"> 
                              </mat-form-field> 
                              <mat-error> 
                                <span *ngIf="!alunoForm.get('linhaProducaoNome').value && alunoForm.get('linhaProducaoNome').touched"></span> 
                              </mat-error> 
                              <mat-form-field class="demo-full-width" >
                                    <mat-label>Máquinas</mat-label>
                                    <mat-select formControlName="listaMaquinas" multiple>
                                      <mat-option *ngFor="let maquina of allOperacoes" [value]="maquina">{{maquina.maquinaNome}}</mat-option>
                                    </mat-select>
                              </mat-form-field> 
                            </td>
                          </tr> 
                          <button class = "button1" type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Enviar"[disabled]="!alunoForm.valid">Criar</button>     
                          <button class = "button1" type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Resetar" (click)="resetForm()">Limpar</button> 
                        
                   
                </form> 
              </mat-card-content> 
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.linhaProducaoId}} </td>
                </ng-container>
               
                <ng-container matColumnDef="Nome">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.linhaProducaoNome}} </td>
                </ng-container>
               
                <ng-container matColumnDef="Máquinas">
                  <th mat-header-cell *matHeaderCellDef> Máquinas </th>
                  <td mat-cell *matCellDef="let element">
                      <tr *ngFor="let maquinas of element.listaMaquinas"> 
                          <pre></pre>
                          {{maquinas.maquinaNome}}
                          <pre></pre>
                     </td>
                </ng-container>

                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef> Update </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="accent" (click)="loadAlunoToEdit(element.linhaProducaoId)">
                          <mat-icon class="mat-18">system_update</mat-icon>
                      </button>
                    </td>
                  </ng-container>
               
                  <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> Delete </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="deleteAluno(element.linhaProducaoId)">
                            <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    
                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator 
              [pageSize]="4"
              [pageSizeOptions]="[4, 10, 25, 100]">
</mat-paginator>
            </div>

