<h1>{{title}}</h1>
<div class="navbar">
    <a routerLink = "/home" routerLinkActive = "active" href="#home">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Fábrica 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink = "/linha-producao" routerLinkActive = "active" href="#">Linhas de Produção</a>
          <a routerLink = "/maquinas" routerLinkActive = "active"href="#">Máquinas</a>
          <a routerLink = "/tipo-maquina" routerLinkActive = "active"href="#">Tipos de Máquina</a>
          <a routerLink = "/operacao" routerLinkActive = "active" href="#">Operações</a>
        </div>
      </div>
    <div class="dropdown">
      <button class="dropbtn">Produção 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink = "/produtos" routerLinkActive = "active" href="#">Produtos</a>
        <a routerLink = "/planos-fabrico" routerLinkActive = "active" href="#">Planos de Fabrico</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Gestão de Encomendas
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink = "/encomendas" routerLinkActive = "active" href="#">Encomendas</a>
        <a routerLink = "/user" routerLinkActive = "active" href="#">Utilizador</a>
  </div>
<router-outlet></router-outlet>
<app-messages></app-messages>
