<html>
<head>
    <style type='text/css'>
        table.table { border-collapse: collapse; 
          border: 1px solid black;}
        table.table td { border-bottom: 1px solid black; }
    </style>
</head>
<div class="container"> 
        <h3>Máquinas</h3>
            <br><br> 
              <mat-card-content> 
                <form [formGroup]="alunoForm"(ngSubmit)="onFormSubmit(alunoForm.value)"> 
                       
                          <tr> 
                            <td class="tbl1"> 
                              <mat-form-field class="demo-full-width"> 
                                <input formControlName="maquinaNome" matTooltip="Insira o nome da Máquina" matInput placeholder="Nome da Máquina"> 
                              </mat-form-field> 
                              <mat-error> 
                                <span *ngIf="!alunoForm.get('maquinaNome').value && alunoForm.get('maquinaNome').touched"></span> 
                              </mat-error> 
                              <mat-form-field class="demo-full-width"> 
                                <input formControlName="modelo" matTooltip="Insira o modelo da Máquina" matInput placeholder="Modelo da Máquina"> 
                              </mat-form-field> 
                              <mat-error> 
                                <span *ngIf="!alunoForm.get('modelo').value && alunoForm.get('modelo').touched"></span> 
                              </mat-error> 
                              <mat-form-field class="demo-full-width" >
                                    <mat-label>Tipos de Máquinas</mat-label>
                                    <mat-select formControlName="tipoMaquinaDTO" single>
                                      <mat-option *ngFor="let tipoMaquina of allTiposMaquina" [value]="tipoMaquina">{{tipoMaquina.tipoMaquinaNome}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </td>
                            <button class = "button1" type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Enviar"[disabled]="!alunoForm.valid">Criar</button>     
                            <button class = "button1" type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Resetar" (click)="resetForm()">Limpar</button> 
                    <table class="table" align="center"> 
                            <thead>
                        <tr ngclass="btn-primary" > 
                          <th class="tbl2">Id</th> 
                          <th class="tbl2">Nome</th>
                          <th class="tbl2">Modelo</th>
                          <th class="tbl2">Tipo de Máquina</th>
                          <th class="tbl2">Editar</th>
                          <th class="tbl2">Eliminar</th> 
                        </tr> 
                    </thead>
                    <tr *ngFor="let aluno of allAlunos | async"> 
                        <td class="tbl2">{{aluno.maquinaId}}</td> 
                        <td class="tbl2">{{aluno.maquinaNome}}</td>
                        <td class="tbl2">{{aluno.modelo}}</td>
                        <td class="tbl2">
                            
                            {{aluno.tipoMaquinaDTO.tipoMaquinaNome}}
                            
                          </td>
                          <td class="tbl2"> 
                            <button type="button" class="btn btn-info"matTooltip="Clique no botão para Editar"(click)="loadAlunoToEdit(aluno.maquinaId )">Editar</button> 
                          </td>   
                        <td class="tbl2"> 
                          <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteAluno(aluno.maquinaId)">x</button> 
                        </td> 
                        </tr>    
                </table> 
             </tr> 
                        
                   
                </form> 
              </mat-card-content> 
    
            </div>
