<html>
<head>
    <style type='text/css'>
        table.table { border-collapse: collapse; 
          border: 1px solid black;}
        table.table td { border-bottom: 1px solid black; }
    </style>
</head>
<div class="container"> 
    <h3>User</h3>
        <br><br> 
          <mat-card-content> 
            <form [formGroup]="alunoForm"(ngSubmit)="onFormSubmit(alunoForm.value)"> 
                   
                      <tr> 
                        <td class="tbl1"> 
                          <mat-form-field class="demo-full-width"> 
                            <input formControlName="username" matTooltip="Insira o username do User" matInput placeholder="username do User"> 
                          </mat-form-field> 
                          <mat-error> 
                            <span *ngIf="!alunoForm.get('username').value && alunoForm.get('username').touched"></span> 
                          </mat-error> 
                          <mat-form-field class="demo-full-width"> 
                          <input formControlName="nome" matTooltip="Insira o nome do User" matInput placeholder="nome do User"> 
                          </mat-form-field> 
                          <mat-error> 
                            <span *ngIf="!alunoForm.get('nome').value && alunoForm.get('nome').touched"></span> 
                          </mat-error> 
                          <mat-form-field class="demo-full-width"> 
                          <input formControlName="password" matTooltip="Insira a password do User" matInput placeholder="password do User"> 
                          </mat-form-field> 
                          <mat-error> 
                            <span *ngIf="!alunoForm.get('password').value && alunoForm.get('password').touched"></span> 
                          </mat-error> 
                          <mat-form-field class="demo-full-width"> 
                          <input formControlName="role" matTooltip="Insira o papel do User" matInput placeholder="role do User"> 
                          </mat-form-field> 
                          <mat-error> 
                            <span *ngIf="!alunoForm.get('role').value && alunoForm.get('role').touched"></span> 
                          </mat-error> 
                          <button class = "button1" type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Criar"[disabled]="!alunoForm.valid">Criar</button>     
                                <button class = "button1" type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Apagar" (click)="resetForm()">Apagar</button> 
                        </td>
                        <table class="table" align="center"> 
                    <tr ngclass="btn-primary"> 
                      <th class="tbl2">Id</th> 
                      <th class="tbl2">Username</th> 
                      <th class="tbl2">Nome</th> 
                      <th class="tbl2">Role/th> 
                      <th class="tbl2">Eliminar</th> 
                    </tr> 
                    <tr *ngFor="let aluno of allAlunos | async"> 
                      <td class="tbl2">{{aluno.userId}}</td> 
                      <td class="tbl2">{{aluno.username}}</td> 
                      <td class="tbl2">{{aluno.nome}}</td> 
                      <td class="tbl2">{{aluno.role}}</td> 
                      <td class="tbl2">
                        <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteAluno(aluno.userId)">x</button> 
                      </td> 
                    </tr>    
            </table> 
                      </tr> 
                    
               
            </form> 
          </mat-card-content> 

        </div>

