
<html>
    <head>
        <style type='text/css'>
            table.table { border-collapse: collapse; 
              border: 1px solid black;}
            table.table td { border-bottom: 1px solid black; }
        </style>
    </head>
    <div class="container"> 
            <h3>Tipos de Máquina</h3>
                <br><br> 
                  <mat-card-content> 
                    <form [formGroup]="alunoForm"(ngSubmit)="onFormSubmit(alunoForm.value)"> 
                           
                              <tr> 
                                <td class="tbl1"> 
                                  <mat-form-field class="demo-full-width"> 
                                    <input formControlName="tipoMaquinaNome" matTooltip="Insira o nome do Tipo de Maquina" matInput placeholder="Nome do Tipo de Maquina"> 
                                  </mat-form-field> 
                                  <mat-error> 
                                    <span *ngIf="!alunoForm.get('tipoMaquinaNome').value && alunoForm.get('tipoMaquinaNome').touched"></span> 
                                  </mat-error> 
                                  <mat-form-field class="demo-full-width" >
                                        <mat-label>Operacões</mat-label>
                                        <mat-select multiple  formControlName="listaOperacoes" >
                                          <mat-option *ngFor="let operacao of allOperacoes" [value]="operacao">{{operacao.operacaoNome}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </td>
                                <button class = "button1" type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Enviar"[disabled]="!alunoForm.valid">Criar</button>     
                                <button class = "button1" type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Resetar" (click)="resetForm()">Limpar</button> 
                        <table class="table" align="center"> 
                                <thead>
                            <tr ngclass="btn-primary" > 
                              <th class="tbl2">Id</th> 
                              <th class="tbl2">Nome</th>
                              <th class="tbl2">Operações</th>
                              <th class="tbl2">Editar</th> 
                              <th class="tbl2">Eliminar</th> 
                            </tr> 
                        </thead>
                            <tr *ngFor="let aluno of allAlunos | async"> 
                              <td class="tbl2">{{aluno.tipoMaquinaId}}</td> 
                              <td class="tbl2">{{aluno.tipoMaquinaNome}}</td>
                              <td class="tbl2">
                                    <tr *ngFor="let operacoes of aluno.listaOperacoes"> 
                                  <pre></pre>
                                  {{operacoes.operacaoNome}}
                                  <pre></pre>
                                </td>  
                                <td class="tbl2"> 
                                  <button type="button" class="btn btn-info"matTooltip="Clique no botão para Editar"(click)="loadAlunoToEdit(aluno.tipoMaquinaId)">Editar</button> 
                                </td> 
                              <td class="tbl2"> 
                                <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteAluno(aluno.tipoMaquinaId)">x</button> 
                              </td> 
                            </tr>    
                    </table> 
                 </tr> 
                            
                       
                    </form> 
                  </mat-card-content> 
        
                </div>