h3 {
    font-size: 1.2em;
    margin-bottom: 20;
    color: black;
    text-align: center;
  }
  
  th,td{
    text-align: center;
  
  }
  th{
    background-color:#FF4081;
    color: white;
  }
  .tbl1
  {
    position: relative;
    left:70%;
    text-align: center;
  }
  .tbl2
  {
    position: relative;
    left: 180%;
    padding-left: 1.5em;
    padding-right : 1.5em;
    padding-top: 1em;;
    padding-bottom: 1em;;
    text-align: center;
  }
  input{
    border:none;
  }
  input:focus{
  outline:none;
  }
  button.delete {
    position: relative;
    left: 224px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
  mat-form-field.demo-full-width{
      position: relative;
      top: 100px;
  }

  button.button1{
      position: relative;
      top : 220px;
      left: 250px;

  }