<html>
<head>
    <style type='text/css'>
        table.table { border-collapse: collapse; 
          border: 1px solid black;}
        table.table td { border-bottom: 1px solid black; }
    </style>
</head>
<div class="container"> 
    <h3>Operações</h3>
        <br><br> 
          <mat-card-content> 
            <form [formGroup]="alunoForm"(ngSubmit)="onFormSubmit(alunoForm.value)"> 
                   
                      <tr> 
                        <td class="tbl1"> 
                          <mat-form-field class="demo-full-width"> 
                            <input formControlName="operacaoNome" matTooltip="Insira o nome da Operação" matInput placeholder="Nome da Operação"> 
                          </mat-form-field> 
                          <mat-error> 
                            <span *ngIf="!alunoForm.get('operacaoNome').value && alunoForm.get('operacaoNome').touched"></span> 
                          </mat-error> 
                          <button class = "button1" type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Enviar"[disabled]="!alunoForm.valid">Criar</button>     
                                <button class = "button1" type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Resetar" (click)="resetForm()">Limpar</button> 
                        </td>
                        <table class="table" align="center"> 
                    <tr ngclass="btn-primary"> 
                      <th class="tbl2">Id</th> 
                      <th class="tbl2">Nome</th> 
                      <th class="tbl2">Eliminar</th> 
                    </tr> 
                    <tr *ngFor="let aluno of allAlunos | async"> 
                      <td class="tbl2">{{aluno.operacaoId}}</td> 
                      <td class="tbl2">{{aluno.operacaoNome}}</td> 
                      <td class="tbl2"> 
                        <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteAluno(aluno.operacaoId)">x</button> 
                      </td> 
                    </tr>    
            </table> 
                      </tr> 
                    
               
            </form> 
          </mat-card-content> 

        </div>
